body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "navbar header" "navbar body";

}
#head{
    grid-area: header;
    transition: margin-right .5S;
}
#head h1{
    text-align: center;
    color: darkred;
    width: 100%;
}
#icon{
    float: right;
}
.fas{
    font-size: 24px;
    float: right;

}
#dropdown{
    height: 30px;
    width: 40px;
    cursor: pointer;
    padding: 5px;
    float: right;
}
.span{
    display:block;
    background-color: darkslateblue;
    width: 30px;
    height: 5px;
    margin: 0 0 2px 0;
    border-radius: 2em;
}
#navbar{
    grid-area: navbar;
    background-color: rgb(37 31 31);
    position: fixed;
    z-index: 1;
    left: 0;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
}
#navbar ul{
    list-style: none;
    margin-top: 0;
    padding: 0;
    height: 100%;
}
#navbar ul li{
    font-size: 120%;
    height: 5%;
    border-bottom: 1px groove gray;
}
#navbar ul li a:hover{
    color: white;
    transform: scale(1.1);
}
#navbar ul li a{
    color: gray;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    padding: 5%;
}
#main{
    grid-area: body;
    padding: 5%;
}
#inbox{
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "preview view";
}
#preview{
    grid-area: preview;
    border-right: 1px groove gray;
}
#view{
    grid-area: view;
}
#teams{
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "name projects" "members projects";
}
#teamName{
    grid-area: name;
}
#members{
    grid-area: members;
}
#projects{
    grid-area: projects;
}
@media only screen and (max-width: 500px){
    body{
        grid-template-columns: 1fr 3fr;
    }
    #navbar{
        width: 25%;
    }
    #navbar ul li a{
        font-size: medium;
    }
}